@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fontlibrary.org/face/caladea');
@import url('https://fontlibrary.org/face/libre-bodoni');

@font-face {
    font-family: 'LatoLocal';
    font-weight: bold;
    font-style: normal;
    src: url(/static/core/fonts/Lato-Bold.woff2);
}

@font-face {
    font-family: 'LatoLocal';
    font-weight: bold;
    font-style: italic;
    src: url(/static/core/fonts/Lato-BoldItalic.woff2);
}

@font-face {
    font-family: 'LatoLocal';
    font-weight: normal;
    font-style: normal;
    src: url(/static/core/fonts/Lato-Regular.woff2);
}

@font-face {
    font-family: 'LatoLocal';
    font-weight: normal;
    font-style: italic;
    src: url(/static/core/fonts/Lato-Italic.woff2);
}

@font-face {
    font-family: 'CaladeaLocal';
    font-weight: bold;
    font-style: normal;
    src: url(/static/core/fonts/Caladea-Bold.woff2);
}

@font-face {
    font-family: 'CaladeaLocal';
    font-weight: bold;
    font-style: italic;
    src: url(/static/core/fonts/Caladea-BoldItalic.woff2);
}

@font-face {
    font-family: 'CaladeaLocal';
    font-weight: normal;
    font-style: normal;
    src: url(/static/core/fonts/Caladea-Regular.woff2);
}

@font-face {
    font-family: 'CaladeaLocal';
    font-weight: normal;
    font-style: italic;
    src: url(/static/core/fonts/Caladea-Italic.woff2);
}


@font-face {
    font-family: 'BodoniLocal';
    src: url(/static/core/fonts/LibreBodoni_Regular.woff2);
}


.sans {
    font-family: 'Gill Sans', 'Lato', 'LatoLocal', sans-serif;
}

.serif {
    font-family: 'Calibri', 'CaladeaRegular', 'CaladeaLocal', serif;
}

.logofont {
    font-family: 'Bodoni Antiqua Regular', 'LibreBodoniRegular', 'BodoniLocal', serif;
}


$sans-font: 'Gill Sans', 'Lato', 'LatoLocal', sans-serif;
$serif-font: 'Calibri', 'CaladeaRegular', 'CaladeaLocal', serif;
$logo-font: 'Bodoni Antiqua Regular', 'LibreBodoniRegular', 'BodoniLocal', serif;
