.wellcome {
    padding: 15% 0px 40% 15%;
    width:100%;
    height:100%;
    
    h1 {
        font-size:6em;
        margin-left:-0.1em;
    }
    h3 {
        font-size:1em;
    }
    a {
        color: $white !important;
        padding: 1em 12em 1em 2em;
        margin-top:3em;
    }
    
    #login-form {
        margin-top: 5em;
        width:20em;
        
        input {
            margin-bottom:1em;
        }
        
        button[type="submit"] {
            margin-top:1em;
            width:100%;
        }
    }
}

#footer {
    width:100%;
    padding-left:10%;
    padding-right:10%;
    padding-top:2em;
    padding-bottom:2em;

    z-index:20;
    clear:both;

    #footer_logo {
        float:left;
        img {
            width:80px;
        }
    }

    #address {
        margin-left:10%;
    }
}

.console {
    width:100%;
    min-height:400px;
}
