$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$theme-colors: (
  primary: $blue,
  secondary: $yellow,
  success: $green,
  info: $cyan,
  warning: $yellow,
  danger: $red,
  light: $white,
  dark: $blue
);

@function theme-color($key: "primary") {
  @return map-get($theme-colors, $key);
}

$body-bg:       theme-color("light");
$body-color:    theme-color("primary");

$link-color:            theme-color("primary");
$link-decoration:       none !default;
$link-hover-color:      theme-color("secondary");
$link-hover-decoration: none;

$dropdown-bg:                    theme-color("primary");
$dropdown-link-color:            theme-color("light");
$dropdown-link-hover-color:      theme-color("light");
$dropdown-link-hover-bg:         lighten(theme-color("primary"), 10%);


$font-family-sans-serif: $sans-font;

.bg-dark {
    a {
        color: theme-color("light");
    }
}

.btn.btn-ok {
    background-color:$yellow;
}

.wellcome {
    background-color: theme-color("primary");
    color: theme-color("light");
}

.console {
    margin-top:10em;
    border: solid 1px theme-color("primary") !important;
    color: theme-color("primary") !important;
    background-color: theme-color("light") !important;
}
.console:focus {
    outline: none !important;
}

#footer {
    background-color: theme-color("primary") !important;
    color: theme-color("light");
    min-height:20em;
}


