{% if asset_type == 'styles' or not asset_type %}
    <link rel='stylesheet' href="{{ static("django_brython/css/brython.css") }}"/>
    {{ python_path() }}
{% endif %}

{% if asset_type == 'scripts' or not asset_type %}
    <script src="{{ static("django_brython/js/brython.js") }}"></script>
    <script src="{{ static("django_brython/js/brython_stdlib.js") }}"></script>
    <script>
        console.log("Starting brython");
        brython(1);
    </script>
{% endif %}

