<!doctype html>
<html>
<head>
{% block css %}
    {{ asset('core:stylesheets:font-awesome') }}
    {{ asset('core:stylesheets:core') }}
{% endblock css %}
<title>{% block title %}{% endblock title %}</title>
{% block head %}
{% endblock head %}
</head>
<body>
{% block content %}
<div id='header'>
{% block header %}
<nav class="navbar navbar-expand-md bg-dark" role="navigation">
    <a class="navbar-brand" href="/">{{ _("Travel @ FF UK") }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            {% include 'user_menu.html' %}
        </ul>
    </div>
</nav>
{% endblock header %}
</div>

<div id='body'>
{% block body %}
{% endblock body %}
</div>

<div id='footer'>
{% block footer %}
{% endblock footer %}
</div>
{% endblock content %}

{% block javascript %}
{{ asset('core:javascript:bootstrap') }}
{% endblock javascript %}

</body>
</html>


