{% if request.user.is_authenticated %}
<li class='nav-item dropdown'>
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false" id="user_menu_link">
        {{ request.user.first_name }} {{ request.user.last_name }}
        {{ icon('user') }} <span class="caret"></span>
    </a>
    <div class='dropdown-menu user_menu' aria-labelledby="user_menu_link">
        <a class='dropdown-item' href=''>{{ icon('user') }}{{ _("Profile") }}</a>
        <a class='dropdown-item' href='{{ url('logout') }}?next={{ request.get_full_path() }}'>{{ icon('sign-out') }} Logout</a>
    </div>
{% else %}
    <li class='nav-item'><a href='{{ url('login') }}?next={{ request.get_full_path() }}'>{{ icon('sign-in') }}</a></li>
{% endif %}
