{% extends "base.html" %}
{% block title %}{{ _("Cesty FF UK: Please log in") }}{% endblock title %}

{% block header %}
{% endblock header %}

{% block content %}
<div class='wellcome'>
<h1>{{_('Travel @ FF UK')}}</h1>
<h3>{{_('An application for managing official travel records')}}</h3>

<div id="login-form">
    <form method="post" action="{{ url('login') }}">
        {% csrf_token %}
        <div class='formgroup'>
            <input type="hidden" name="next" value="{{ next }}" />
            <label for="id_username">{{_('Username')}}</label><input type="text" name="username" autofocus="" required="" id="id_username" maxlength="254" class="form-control">
            <label for="id_password">{{_('Password')}}</label><input type="password" name="password" required="" id="id_password" class="form-control">
            <button type="submit" class="btn btn-ok pull-right" value="Log In">{{ _('Login') }}</button>
        </div>
    </form>
</div>
</div>
{% endblock content %}


